.delete-card {
  color: red !important;
}

.card .card-title {
  margin-bottom: 0px;
}

.card .card-content p.timestamp {
  color: #999;
  margin-bottom: 11px;
}

.card .card-body {
  color: black;
}

.progress {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 0px;
  margin-right: 0px;
}
